* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */

    --primary-color-tomato: hsl(4, 100%, 67%);
    --neutral-color-white: hsl(0, 0%, 100%);
    --neutral-color-darkGray: hsl(234, 29%, 20%);
    --neutral-color-charcoalGray: hsl(235, 18%, 26%);
    --neutral-color-gray: hsl(231, 7%, 60%);

    /* FONTS */
    --fontWeight-regular: 400;
    --fontWeight-heavy: 700;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--neutral-color-charcoalGray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 641px;
    width: 928px;
    background-color: var(--neutral-color-white);
    border-radius: 36px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    padding: 24px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

.card-content-text {
    height: 446px;
    width: 376px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.card-content h1 {
    color: var(--neutral-color-darkGray);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Heading */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 56px */
}

.card-content p {
    padding: 24px 0;
    color: var(--neutral-color-darkGray);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    font-family: "Roboto", sans-serif;
}

.card-content-list {
    list-style-type: none;
}

.card-content-list li {
    margin-left: 21px;
    padding-bottom: 10px;
    color: var(--neutral-color-darkGray);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.list-item {
    width: 100%;
    height: 24px;
    display: flex;
    margin-bottom: 10px;
}

.list-item img {
    height: 21px;
    width: 21px;
}

#form {
    margin-top: 40px;
}

label {
    color: var(--Dark-Navy, #242742);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body Small */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    margin-bottom: 8px;
}


#email {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--grey-25, rgba(25, 24, 43, 0.25));
    padding: 16px 24px;
}

#email::placeholder {
    color: var(--neutral-color-gray);
}

.submit-btn {
    margin-top: 24px;
    width: 100%;
    height: 56px;
    padding: 16px 71px;
    border-radius: 8px;
    font-weight: 700;
    border: none;
    background: var(--neutral-color-darkGray);
    color: var(--neutral-color-white);
    cursor: pointer;
}

.submit-btn:hover {
    border-radius: 8px;
    background: var(--Gradient-1, linear-gradient(204deg, #FF6A3A 0%, #FF527B 100%));
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-image img {
    object-fit: contain;
    width: 400px;
}
